.ms_contain_img{
    height: 30px;
}

.logo_sony{
    width: 100%;
}

.ms_dropdown{
    width: 100%;
}

.ms_bottom_accedi{
    background-color: black;
    color: white;
}

.ms_color_dropdown{
    color: black;
}

/* main */
/* returnal */
.ms_contain_returnal{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ms_title_returnal{
    font-size: 50px;
}

.ms_img_title_returnal{
    width: 100%;
}