/* logo sony */
.sm_container_fluid{
    display: flex;
    justify-content: flex-end;
}

.logo_sony_img{
    width: 100%;
    height: 15px;
}


/* navbar */
.ms_dropdown{
    width: 100%;
}

.ms_bottom_accedi{
    background-color: black;
    color: white;
    width: 100%;
}

.ms_color_dropdown{
    color: black;
}


/* main */
/* returnal */
.ms_contain_returnal{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ms_title_returnal{
    font-size: 50px;
}

.ms_img_title_returnal{
    width: 100%;
}
/* colonne sotto */
.img_size{
    width: 100%;
    border-radius: 15px;
}

.img_contain{
    border: 2px solid white;
    border-radius: 20px;
}
.img_contain:hover{
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 20px;
}

.img_contain1{
    border: 2px solid blue;
    border-radius: 20px;
}


/* playstation 5 */
.ms_title_play{
    color: #1198F7;
}

.ms_subtitle{
    color: grey;
}

.ms_img_playstation_console{
    width: 100%;
}

.ms_description_console{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ms_accessories_console1{
    border-bottom: 2px solid #1198F7;
    cursor: pointer;
}

.ms_accessories_console{
    border-bottom: 2px solid white;
    cursor: pointer;
    opacity: 0.75;
}
.ms_accessories_console:hover{
    border-bottom: 2px solid #1198F7;
    opacity: 1;
}

.img_size_accessories{
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}


/* it takes two */
.ms_contain_it_takes_two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    color: white;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}

.ms_title_it_takes_two{
    font-size: 50px;
}

.ms_img_title_it_takes_two{
    width: 100%;
}


/* nuove uscite */
.ms_contain_nuove_uscite{
    color: white;
}

.img_size_nuove_uscite{
    width: 100%;
    border-radius: 40px;
}


/* playstation 4 */




/* playstatio plus */
.ms_contain_playstation_plus{
    background-color: #BEBCBB;
}

.ms_row_ps_plus{
    align-items: center;
}

.ms_img_playstation_plus{
    width: 100%;
}

.img_logo_ps_plus{
    width: 100%;
}


/* sconti ps store */
.img_size_sconti_ps_store{
    width: 100%;
}


/* ps now */
.ms_contain_playstation_now{
    background-color: #161C3B;
    color: white;
}

.ms_row_ps_now{
    align-items: center;
}

.img_logo_ps_now,
.ms_img_playstation_now{
    width: 100%;
}


/* social */
.img_size_social{
    width: 100%;
    cursor: pointer;
}